# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
out/
.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties
mvnw
mvnw.cmd

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

*/META-INF/*